* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#inside-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  box-shadow: 0 0 10px 5px #9c9c9c;
  border-radius: 2px;
}
#report {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
